global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "backend"
    static_configs:
      - targets: ["backend:8000"]
  - job_name: "ai-nlp"
    static_configs:
      - targets: ["ai-nlp:8001"]
